---
- name: Ensure directory exists
  file:
    path: "{{ lookup('env', 'XDG_DATA_HOME') | default('$HOME/.local/share', True) }}/nvim/site/autoload"
    state: directory
  register: plug_dir

- name: Download 'Vim Plug' File
  get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest:  "{{ plug_dir.path }}/plug.vim"
    force: false
    mode: '0755'

- name: Install Plugins
  command: nvim +PlugInstall +q

